<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GFI.DebuglogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GFI.DebuglogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
        <GFI.DebuglogViewer.Properties.Settings>
              <setting name="WindowWidth" serializeAs="String">
                    <value>640</value>
              </setting>
              <setting name="WindowHeight" serializeAs="String">
                    <value>480</value>
              </setting>
              <setting name="WindowLeft" serializeAs="String">
                    <value>16</value>
              </setting>
              <setting name="WindowTop" serializeAs="String">
                    <value>16</value>
              </setting>
              <setting name="WindowState" serializeAs="String">
                    <value>Maximized</value>
              </setting>
              <setting name="SourceFileNameColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="SourceFileNameColumnVisibility" serializeAs="String">
                    <value>Collapsed</value>
              </setting>
              <setting name="SourceFileNameColumnDisplayIndex" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="EntryIndexColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="EntryIndexColumnVisibility" serializeAs="String">
                    <value>Collapsed</value>
              </setting>
              <setting name="EntryIndexColumnDisplayIndex" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="DateTimeColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="DateTimeColumnVisibility" serializeAs="String">
                    <value>Visible</value>
              </setting>
              <setting name="DateTimeColumnDisplayIndex" serializeAs="String">
                    <value>2</value>
              </setting>
              <setting name="LogLevelColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="LogLevelColumnVisibility" serializeAs="String">
                    <value>Visible</value>
              </setting>
              <setting name="LogLevelColumnDisplayIndex" serializeAs="String">
                    <value>3</value>
              </setting>
              <setting name="ProcessIDColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="ProcessIDColumnVisibility" serializeAs="String">
                    <value>Visible</value>
              </setting>
              <setting name="ProcessIDColumnDisplayIndex" serializeAs="String">
                    <value>4</value>
              </setting>
              <setting name="ThreadIDColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="ThreadIDColumnVisibility" serializeAs="String">
                    <value>Visible</value>
              </setting>
              <setting name="ThreadIDColumnDisplayIndex" serializeAs="String">
                    <value>5</value>
              </setting>
              <setting name="EventTypeColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="EventTypeColumnVisibility" serializeAs="String">
                    <value>Visible</value>
              </setting>
              <setting name="EventTypeColumnDisplayIndex" serializeAs="String">
                    <value>6</value>
              </setting>
              <setting name="EventSourceColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="EventSourceColumnVisibility" serializeAs="String">
                    <value>Visible</value>
              </setting>
              <setting name="EventSourceColumnDisplayIndex" serializeAs="String">
                    <value>7</value>
              </setting>
              <setting name="DescriptionColumnWidth" serializeAs="String">
                    <value>Auto</value>
              </setting>
              <setting name="DescriptionColumnVisibility" serializeAs="String">
                    <value>Visible</value>
              </setting>
              <setting name="DescriptionColumnDisplayIndex" serializeAs="String">
                    <value>8</value>
              </setting>
        </GFI.DebuglogViewer.Properties.Settings>
    </userSettings>
  <applicationSettings>
    <GFI.DebuglogViewer.Properties.Settings>
      <setting name="ClientErrorPath" serializeAs="String">
        <value>\\gfi\dfs\Temp\kfenech\GFI.Debuglogs.Errors\</value>
      </setting>
    </GFI.DebuglogViewer.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <switches>
      <add name="Global" value="3"/>
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="TextListener" type="GFI.Common.DirectoryListener, GFI.Common.Tracing, Version=1.0.0.1, Culture=neutral, PublicKeyToken=f28aa2eff54bac51" initializeData=".\Debuglogs\" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
